@model EONBussiness.DbContext.tbduan

@{
    ViewBag.Title = "CẬP NHẬT THÔNG TIN DỰ ÁN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    input, select {
        border-radius: 0px !important;
    }
</style>

<h2 style="text-align:center">CẬP NHẬT THÔNG TIN DỰ ÁN</h2>
<p style="text-align:center">@Model.tenduan</p>

<div class="form-horizontal">
    <form action="/admin/tbduans/edit" enctype="multipart/form-data" method="post" onsubmit="return XacNhan()">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.hienthi)
        @Html.HiddenFor(model => model.hinhanh)
        @Html.HiddenFor(model => model.ghim)
        @Html.HiddenFor(model => model.viewus)
        <div class="form-group">
            @Html.Label("TÊN DỰ ÁN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenduan, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("HÌNH ẢNH", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Model.hinhanh" style="max-width:250PX" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("THAY ĐỔI HÌNH ẢNH", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="img" accept=".jpg, .jpeg, .png" class="form-control" type="file" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("TỪ KHÓA", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tukhoa, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("MÔ TẢ NGẮN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="mota" rows="5" class="form-control">@Model.mota</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("THÔNG TIN DỰ ÁN", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea name="noidung" rows="5" required class="form-control ckeditor">@Model.noidung</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LƯU LẠI" class="btn btn-success" />
                <input type="reset" value="HỦY" class="btn btn-danger" />
                <a href="/admin/tbdoitacs" class="btn btn-primary">QUAY LẠI</a>
            </div>
        </div>
    </form>
</div>
<script>
    function XacNhan() {
        let cf = confirm("BẠN CÓ CHẮC THỰC HIỆN");
        return cf;
    }
</script>