@model EONBussiness.DbContext.tbsanpham

@{
    ViewBag.Title = Model.tensp;
    Layout = "~/Views/Shared/_LayoutChiTiet.cshtml";
}
<style>
    .woocommerce div.product div.images .woocommerce-product-gallery__trigger
    {
        display:none !important;
    }
</style>
<div class="site grid-container container hfeed grid-parent" id="page">
    <div class="site-content" id="content">
        <div class="woocommerce-notices-wrapper"></div>
        <div data-elementor-type="product" data-elementor-id="460" class="elementor elementor-460 product type-product status-publish has-post-thumbnail product_cat-cam-bien-ap-suat product_cat-thiet-bi-do-ap-suat sales-flash-overlay woocommerce-text-align-center wc-related-upsell-columns-4 wc-related-upsell-tablet-columns-2 wc-related-upsell-mobile-columns-1 do-quantity-buttons wc-has-gallery first instock shipping-taxable product-type-simple product" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <section class="elementor-section elementor-top-section elementor-element elementor-element-c738305 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c738305" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element" data-id="dd46629" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <section class="elementor-section elementor-inner-section elementor-element elementor-element-35ff85e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="35ff85e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                            <div class="elementor-container elementor-column-gap-narrow">
                                                <div class="elementor-row">
                                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-f7de419" data-id="f7de419" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-6c233f8a yes elementor-widget elementor-widget-woocommerce-product-images" data-id="6c233f8a" data-element_type="widget" data-widget_type="woocommerce-product-images.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images images" data-columns="4" style="opacity: 1; transition: opacity 0.25s ease-in-out;">
                                                                            <div class="flex-viewport" style="overflow: hidden; position: relative; height: 300px; transition: none;">
                                                                                <div class="woocommerce-product-gallery__wrapper" style="width: 400px; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                                                                                    <div data-thumb-srcset="" data-thumb-sizes="(max-width: 100px) 100vw, 100px" class="woocommerce-product-gallery__image" style="position: relative; overflow: hidden; max-width: 400px; margin-right: 0px; float: left; display: block;">
                                                                                        <a href="#">
                                                                                            <img id="myImage" width="600" height="491" src="" alt="@Model.tensp" data-caption="" data-large_image_width="602" data-large_image_height="493" decoding="async" fetchpriority="high" srcset="@Model.hinhanh" sizes="(max-width: 600px) 100vw, 600px" draggable="false">
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <ol class="flex-control-nav flex-control-thumbs">
                                                                                <li>
                                                                                    <img onclick="SetMyIMG('@Model.hinhanh')" onload="this.width = this.naturalWidth; this.height = this.naturalHeight" src="@Model.hinhanh" srcset="@Model.hinhanh" sizes="(max-width: 100px) 100vw, 100px" alt="@Model.tensp" class="flex-active" draggable="false" width="100" height="100">
                                                                                </li>
                                                                                @if (Model.hinhanh1 != null)
                                                                                {
                                                                                    <li>
                                                                                        <img onclick="SetMyIMG('@Model.hinhanh1')" onload="this.width = this.naturalWidth; this.height = this.naturalHeight" src="@Model.hinhanh1" srcset="@Model.hinhanh1" sizes="(max-width: 100px) 100vw, 100px" alt="@Model.tensp" class="flex-active" draggable="false" width="100" height="100">
                                                                                    </li>
                                                                                }
                                                                                @if (Model.hinhanh2 != null)
                                                                                {
                                                                                    <li>
                                                                                        <img onclick="SetMyIMG('@Model.hinhanh2')" onload="this.width = this.naturalWidth; this.height = this.naturalHeight" src="@Model.hinhanh2" srcset="@Model.hinhanh2" sizes="(max-width: 100px) 100vw, 100px" alt="@Model.tensp" class="flex-active" draggable="false" width="100" height="100">
                                                                                    </li>
                                                                                }
                                                                                @if (Model.hinhanh3 != null)
                                                                                {
                                                                                    <li>
                                                                                        <img onclick="SetMyIMG('@Model.hinhanh3')" onload="this.width = this.naturalWidth; this.height = this.naturalHeight" src="@Model.hinhanh3" srcset="@Model.hinhanh3" sizes="(max-width: 100px) 100vw, 100px" alt="@Model.tensp" class="flex-active" draggable="false" width="100" height="100">
                                                                                    </li>
                                                                                }
                                                                            </ol>
                                                                        </div>
                                                                    </div>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0a2326c" data-id="0a2326c" data-element_type="column">
                                                        <div class="elementor-column-wrap elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div class="elementor-element elementor-element-14c3b8a elementor-widget elementor-widget-spacer" data-id="14c3b8a" data-element_type="widget" data-widget_type="spacer.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-spacer">
                                                                            <div class="elementor-spacer-inner"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-4463ee09 elementor-widget elementor-widget-woocommerce-product-title elementor-page-title elementor-widget-heading" data-id="4463ee09" data-element_type="widget" data-widget_type="woocommerce-product-title.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h1 class="product_title entry-title elementor-heading-title elementor-size-default" style="background-color: transparent; color: #4358a7; font-size: larger; line-height:1.5; text-align:center">@Model.tensp</h1>
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-3692790 elementor-widget elementor-widget-woocommerce-product-content" data-id="3692790" data-element_type="widget" data-widget_type="woocommerce-product-content.default">
                                                                    <div class="elementor-widget-container" style="text-align:justify">
                                                                        @Html.Raw(Model.motasp)
                                                                    </div>
                                                                </div>
                                                                <div class="elementor-element elementor-element-61b6d169 elementor-widget elementor-widget-woocommerce-product-short-description" data-id="61b6d169" data-element_type="widget" data-widget_type="woocommerce-product-short-description.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="woocommerce-product-details__short-description">
                                                                            <p><a href="@Model.filehuongdan" style="background-color: #4358a7 !important" class="elementor-button-link elementor-button elementor-size-sm"><span class="elementor-button-content-wrapper"><span class="elementor-button-text">File Download</span></span></a></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="elementor-row" style="padding:30px; text-align:justify">
                                                @Html.Raw(Model.noidung)
                                            </div>
                                        </section>
                                        <div class="elementor-element elementor-element-b580b7c elementor-widget elementor-widget-spacer" data-id="b580b7c" data-element_type="widget" data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-3c35c29e elementor-product-loop-item--align-center elementor-grid-4 elementor-grid-tablet-3 elementor-grid-mobile-2 elementor-products-grid elementor-wc-products elementor-widget elementor-widget-woocommerce-product-related" data-id="3c35c29e" data-element_type="widget" data-widget_type="woocommerce-product-related.default">
                                            <div class="elementor-widget-container">
                                                <section class="related products">
                                                    <h2 style="display:block; margin-bottom:15px"><strong>SẢN PHẨM TƯƠNG TỰ</strong></h2>
                                                    <ul class="products elementor-grid columns-4">
                                                         @Html.Action("GetSPTT","SanPhams", new {dm=Model.danhmucid, sp = Model.ID})
                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
