@model IEnumerable<EONBussiness.DbContext.tbtuyendung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="margin-top:50PX" class="site grid-container container hfeed grid-parent" id="page">
    <div class="site-content" id="content">
        <div data-elementor-type="single" data-elementor-id="9345" class="elementor elementor-9345 elementor-location-single post-9332 page type-page status-publish" data-elementor-settings="[]">
            <div class="elementor-section-wrap">
                <section style="margin-bottom:30PX" class="elementor-section elementor-top-section elementor-element elementor-element-1befd892 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1befd892" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-3829c9d3" data-id="3829c9d3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-4d815753 elementor-widget elementor-widget-theme-post-title elementor-page-title elementor-widget-heading" data-id="4d815753" data-element_type="widget" data-widget_type="theme-post-title.default">
                                            <div class="elementor-widget-container">
                                                <h1 class="elementor-heading-title elementor-size-default" style="text-align: center !important; color: #4358a7 !important;"> TIN TUYỂN DỤNG</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="elementor-section elementor-top-section elementor-element elementor-element-27b8d182 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="27b8d182" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6ac14ec" data-id="6ac14ec" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-311ebaf5 elementor-widget elementor-widget-theme-post-content" data-id="311ebaf5" data-element_type="widget" data-widget_type="theme-post-content.default">
                                            <div class="elementor-widget-container">
                                                <style>
                                                    .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-posts-container .elementor-post__thumbnail {
                                                        padding-bottom: calc( 0.66 * 100% );
                                                    }

                                                    .elementor-9332 .elementor-element.elementor-element-836d1a4:after {
                                                        content: "0.66";
                                                    }

                                                    .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-post__meta-data span + span:before {
                                                        content: "•";
                                                    }

                                                    .elementor-9332 .elementor-element.elementor-element-836d1a4 {
                                                        --grid-column-gap: 12px;
                                                        --grid-row-gap: 14px;
                                                    }

                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-post__card {
                                                            border-radius: 15px;
                                                        }

                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-post__text {
                                                            margin-top: 20px;
                                                        }

                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-post__title, .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-post__title a {
                                                            font-family: "Roboto", Sans-serif;
                                                            font-size: 16px;
                                                            font-weight: 600;
                                                        }

                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-post__excerpt p {
                                                            font-family: "Roboto", Sans-serif;
                                                            font-size: 14px;
                                                            font-weight: 400;
                                                        }

                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-pagination {
                                                            text-align: center;
                                                        }

                                                    body:not(.rtl) .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-pagination .page-numbers:not(:first-child) {
                                                        margin-left: calc( 10px/2 );
                                                    }

                                                    body:not(.rtl) .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-pagination .page-numbers:not(:last-child) {
                                                        margin-right: calc( 10px/2 );
                                                    }

                                                    body.rtl .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-pagination .page-numbers:not(:first-child) {
                                                        margin-right: calc( 10px/2 );
                                                    }

                                                    body.rtl .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-pagination .page-numbers:not(:last-child) {
                                                        margin-left: calc( 10px/2 );
                                                    }

                                                    @@media(max-width:767px) {
                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4 .elementor-posts-container .elementor-post__thumbnail {
                                                            padding-bottom: calc( 0.5 * 100% );
                                                        }

                                                        .elementor-9332 .elementor-element.elementor-element-836d1a4:after {
                                                            content: "0.5";
                                                        }
                                                    }
                                                </style>		<div data-elementor-type="wp-page" data-elementor-id="9332" class="elementor elementor-9332" data-elementor-settings="[]">
                                                    <div class="elementor-inner">
                                                        <div class="elementor-section-wrap">
                                                            <section class="elementor-section elementor-top-section elementor-element elementor-element-20be77e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="20be77e" data-element_type="section">
                                                                <div class="elementor-container elementor-column-gap-no">
                                                                    <div class="elementor-row">
                                                                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0fcaf7d" data-id="0fcaf7d" data-element_type="column">
                                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div class="elementor-element elementor-element-836d1a4 elementor-grid-3 elementor-grid-tablet-2 elementor-grid-mobile-1 elementor-posts--thumbnail-top elementor-card-shadow-yes elementor-posts__hover-gradient elementor-widget elementor-widget-posts" data-id="836d1a4" data-element_type="widget" data-settings="{&quot;cards_row_gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:14,&quot;sizes&quot;:[]},&quot;pagination_type&quot;:&quot;numbers_and_prev_next&quot;,&quot;cards_columns&quot;:&quot;3&quot;,&quot;cards_columns_tablet&quot;:&quot;2&quot;,&quot;cards_columns_mobile&quot;:&quot;1&quot;}" data-widget_type="posts.cards">
                                                                                        <div class="elementor-widget-container">
                                                                                            <div class="elementor-posts-container elementor-posts elementor-posts--skin-cards elementor-grid elementor-has-item-ratio">
                                                                                                @foreach (var item in Model)
                                                                                                {
                                                                                                    <article class="elementor-post elementor-grid-item post-18470 post type-post status-publish format-standard has-post-thumbnail hentry category-tuyen-dung">
                                                                                                        <div class="elementor-post__card">
                                                                                                            <a class="elementor-post__thumbnail__link" href="/tuyen-dung/@item.alias-@item.ID">
                                                                                                                <div class="elementor-post__thumbnail"><img width="300" height="300" src="@item.hinhanh" class="attachment-medium size-medium" alt="" decoding="async" fetchpriority="high" srcset="@item.hinhanh 300w, @item.hinhanh 1024w, @item.hinhanh 150w, @item.hinhanh 768w, @item.hinhanh 600w, @item.hinhanh 100w, @item.hinhanh 1080w" sizes="(max-width: 300px) 100vw, 300px"></div>
                                                                                                            </a>
                                                                                                            <div class="elementor-post__text" >
                                                                                                                <h3 class="elementor-post__title" style="margin-top:20px">
                                                                                                                    <a href="/tuyen-dung/@item.alias-@item.ID">
                                                                                                                        @item.tentd
                                                                                                                    </a>
                                                                                                                </h3>
                                                                                                                <div class="elementor-post__excerpt">
                                                                                                                    <p>@item.mota</p>
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </article>
                                                                                                }
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>


