@model EONBussiness.DbContext.tbBanner

@{
    ViewBag.Title = "CẬP NHẬT THÔNG TIN BANNER";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    input, select {
        border-radius: 0px !important;
    }
</style>

<h2 style="text-align:center">CẬP NHẬT THÔNG TIN BANNER</h2>
<hr />
<div class="form-horizontal">
    <form action="/admin/tbbanners/edit" enctype="multipart/form-data" method="post" onsubmit="return XacNhan()">
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.hienthi)
        @Html.HiddenFor(model => model.hinhanh)
         
        <div class="form-group">
            @Html.Label("BANNER", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Model.hinhanh"class="img-responsive" width="500" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("THAY ĐỔI BANNER", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="img" accept=".jpg, .jpeg, .png" class="form-control" type="file" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="LƯU LẠI" class="btn btn-success" />
                <input type="reset" value="HỦY" class="btn btn-danger" />
                <a href="/admin/tbbanners" class="btn btn-primary">QUAY LẠI</a>
            </div>
        </div>
    </form>
</div>
<script>
    function XacNhan() {
        let cf = confirm("BẠN CÓ CHẮC THỰC HIỆN");
        return cf;
    }
</script>